body{
    background-color: rgb(255, 0, 0);
    text-align: center;
}

h1{
    border: 2px solid black;
    width: 220px;
    background-color: rgb(255, 170, 0);
    box-shadow: 2px 2px 8px black;
    margin: auto;
    font-size: medium;
    transition: 1s ease-in-out 0.1s;
    text-decoration: line-through;
    cursor: pointer;
}

h1:hover{
    width: 440px;
    /* font-family: Arial; */
    font-size: medium;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 16px black;
}

span{
    margin: auto;
}

div{
    width: 220px;
    height: 220px;
    background-color: white;
    margin: 20px 20px 0 20px;
    display: inline-block;
    border: 1px groove black;
    box-shadow: 2px 2px 8px rgb(0, 0, 0);
    transition: ease-in 0.2s;
}

div:hover{
    box-shadow: 2px 2px 20px rgb(0, 0, 0);
}

#toji{
    background-image: url('Toji1.jpeg');
    background-size: cover;
    cursor: pointer;
}

#toji:hover{
    background-image: url('Toji2.jpg');
    background-size: cover;
}

#sukuna{
    background-image: url('sukuna1.jpg');
    background-size: cover;
}

#sukuna:hover{
    background-image: url('sukuna2.jpg');
    background-size: cover;
    cursor: pointer;
}

#gojo{
    background-image: url('gojo1.jpg');
    background-size: cover;
}

#gojo:hover{
    background-image: url('gojo2.jpg');
    background-size: cover;
    cursor: pointer;
}